# Database Configuration
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# JWT Configuration
GITHUB_TOKEN_ENCRYPTION_KEY=
JWT_SECRET=

# Mail Configuration
MAIL_USERNAME=
MAIL_PASSWORD=

# Google Gemini API Key
GEMINI_API_KEY=

# Groq API Key (Module 9 - Release Notes Generation)
GROQ_API_KEY=

# Environment-Specific Configuration
FRONTEND_URL=http://localhost:5000
MONGODB_URI=mongodb://localhost:27017/neuroforge_ai
SERVER_PORT=8081
