# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Eclipse / STS
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache
.apt_generated

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build
build/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db